<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">

    <div class="bob-border">
      <h3 class="bob-name">BOB BELCHER'S</h3>
    </div>

    <div class="app-wrap">
      <h1 class="app-name app-name-one">Burger's <span class="app-name-two">digest</span></h1>
      {{!-- <h1 class="app-name app-name-two">digest</h1> --}}
    </div>

  </div>



</div>

<div class="wall-molding">
  <div class="row text-center">

    <div class="col-sm">

      <h4 class="app-sub">Serve up one of Bob's burger specials, or create a yummy punny burger of your own!</h4>

    </div>
  </div>
</div>

<div class="container">

  <div class="row user-input text-center">
    <div class="col-sm">
      <form class="create-form">
        <div class="form-group">

          <div id="el-wrap">
            <input type="text" id="burg" name="name" placeholder="Create a burger...">
          </div>

          <div id="el-wrap">
            <button id="create-submit" type="submit">ADD BURGER</button>
          </div>

          <div id="el-wrap">
            <button id="random-submit" type="button">RANDOM BOB'S BURGER</button>
          </div>

        </div>
      </form>
    </div>
  </div>

  <div class="row">

    <div class="col-lg chalk-border">
      <div class="chalkboard">
        <h2 class="text-center" id="chalk-title">Burgers Served</h2>

        <ul class="text-center">
          {{#each burgers}}
          {{#unless digested}}
          {{> burgers/burger-block digest=true}}
          {{/unless}}
          {{/each}}
        </ul>

      </div>
    </div>

    <div class="col-lg chalk-border">
      <div class=" chalkboard">

        <h2 class="text-center" id="chalk-title">Burgers Digested</h2>

        <ul class="text-center">
          {{#each burgers}}
          {{#if digested}}
          {{> burgers/burger-block digest=false}}
          {{/if}}
          {{/each}}
        </ul>

      </div>
    </div>
  </div>

  <br>
  <br>
  <h3 class="credit-line text-center">A Full Stack Application By
    <div id="github-border">
      <a id="git-link" href="https://github.com/emijoha">
        <h3 id="github-link">E.J. HARTLINE</h3>
      </a>
    </div>
  </h3>
  <br>
  <br>
</div>