<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">

    <h3>Bob Flether's</h3>
    <h1 class="display-4">BURGER'S DIGEST</h1>
    <h4>Serve up one of Bob's burgers, or create a yummy punny burger of your own!</h4>

    <div class="row">

      <div class="col-sm">

        <form class="create-form">
          <div class="form-group">
            <input type="text" id="burg" name="name" placeholder="Create a burger...">
            <button id="create-submit" type="submit">Add My Burger</button> or 
            <button id="random-submit" type="button">Random Bob's Burger</button>
          </div>
        </form>

      </div>

    </div>

  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-lg chalk-border">
      <div class="chalkboard">

      <h2 class="text-center">Burgers Served</h2>

      <ul>
        {{#each burgers}}
        {{#unless digested}}
        {{> burgers/burger-block digest=true}}
        {{/unless}}
        {{/each}}
      </ul>

      </div>
    </div>

    <div class="col-lg chalk-border">
      <div class=" chalkboard">

        <h2 class="text-center">Burgers Digested</h2>

        <ul>
          {{#each burgers}}
          {{#if digested}}
          {{> burgers/burger-block digest=false}}
          {{/if}}
          {{/each}}
        </ul>

      </div>
    </div>
  </div>
</div>