.chalkboard {
  background-color: rgb(119,122,131);
  color: white;
  padding: 1rem;
  margin: 0;
  border: solid;
  border-radius: 0.3rem;
  border-color: rgb(0, 0, 0);
  border-width: 0.094rem;
  height: 100%;
}

.chalk-border {
  background-color: rgb(176,72,79);
  padding: 1.25rem;
  margin: 0rem 1rem 2rem 1rem;
  border: solid;
  border-radius: 0.3rem;
  border-color: rgb(0, 0, 0);
  border-width: 0.094rem;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.342);
}

body, .jumbotron {
  background-color: rgb(242,230,188);
}

.jumbotron {
  border: none;
  padding: 4rem 0 4rem 0;
}

.bob-name, #github-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 2.25rem;
  font-weight: bold;
  background-color: rgb(246,225,37);
  color:rgb(239,33,49);
  text-shadow: -1.5px 1.5px black, -0.75px 0 black, 0 0.75px black, 0.75px 0 black, 0 -0.75px black;
  width: fit-content;
  margin: 0 auto;
  padding: 0 0.5rem 0rem 0.5rem;
  border: solid;
  border-radius: 0.2rem;
  border-color: rgb(0, 0, 0);
  border-width: 0.075rem;
}

.bob-border, #github-border {
  background-color: rgb(239,33,49);
  padding: 0.2rem;
  width: fit-content;
  margin: 0 auto;
  border: solid;
  border-radius: 0.2rem;
  border-color: rgb(0, 0, 0);
  border-width: 0.075rem;
  box-shadow: 4px 4px 2.5px rgba(0, 0, 0, 0.342);
}

.app-wrap {
  position: relative;
}

.app-name {
  font-family: 'Unna', serif;

}

.app-name-one {
  font-size: 9rem;
  position: relative;
  width: fit-content;
  top: -2.5rem;
  margin: 0 auto;
}

.app-name-two {
  font-size: 5.5rem;
  position: absolute;
  display: block;
  top: 8.25rem;
  left: 5.5rem;
  padding-left: 0;
}

.wall-molding {
  width: 100%;
  background-color: rgb(77,116,184);
  border-top: solid black;
  border-bottom: solid black;
  border-width: 0.094rem;
  position: relative;
  top: -2rem;
}

.app-sub {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
  padding: 1rem 0 0.5rem 0;
}

#create-submit, #random-submit {
  color:rgb(239,33,49);
  text-shadow: -1.4px 1.4px black, -0.65px 0 black, 0 0.65px black, 0.65px 0 black, 0 -0.65px black;
  background-color: rgb(246,225,37);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  border: solid;
  border-color: black;
  border-width: 0.05rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

#el-wrap {
  display: inline-block;
  padding: 0.2rem;
  background-color: rgb(239,33,49);
  height: fit-content;
  width: fit-content;
  border: solid;
  border-color: black;
  border-width: 0.05rem;
  border-radius: 0.25rem;
  margin: 0.125rem;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.342);
}

#burg {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  border: solid;
  border-color: black;
  border-width: 0.05rem;
  border-radius: 0.25rem;
  padding: 0.05rem 0.5rem 0.05rem 0.5rem;
  width: 35rem;
}

.user-input {
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}

#chalk-title {
  font-family: 'Londrina Shadow', cursive;
  font-size: 3.5rem;
}

#burger-name {
  font-family: 'Schoolbell', cursive;
  font-size: 1.55rem;
  margin:0;
  padding: 0;
}

#burger-name:hover {
  text-shadow: -1.5px 1.5px black, -0.75px 0 black, 0 0.75px black, 0.75px 0 black, 0 -0.75px black;
}

li {
  list-style: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

ul {
  margin: 0 auto;
  padding: 0;
}

.change-digest, .delete-burger {
  font-family: 'Schoolbell', cursive;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 1.35rem;
  padding: 0.1rem 0.75rem 0.1rem 0.75rem;
  border: none;
}


.change-digest:hover {
  color: rgb(246,225,37);
  cursor: pointer;
  text-shadow: -1.5px 1.5px black, -0.75px 0 black, 0 0.75px black, 0.75px 0 black, 0 -0.75px black;
}

.delete-burger:hover {
  color: rgb(239,33,49);
  cursor: pointer;
  text-shadow: -1.5px 1.5px black, -0.75px 0 black, 0 0.75px black, 0.75px 0 black, 0 -0.75px black;
}

.credit-line {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
}

#github-link {
  color: rgb(239,33,49);
}

#git-link:hover {
  text-decoration: none;
}